<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a new Post</title>
</head>
<body>
    <form method = "post" action="/posts">
        <input placeholder="Enter username" type="text" name="username">
        <textarea placeholder = "Enter your post" name="content" cols="80" rows="10"></textarea>
        <button>Submit</button>
        <br> <br>
        <hr>
    </form>
</body>
</html>