<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Post</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <h1>Show Post</h1>
    <p class="contentpara">Your post ID is: <%= postId %></p>
    <div>
        <h3 class="user"><%= user.username %></h3>
        <h4 class="user"><%= user.content %></h4>
    </div>
</body>
</html>
