*{
    background-color: rgb(238, 128, 116);
}

.heading{
    margin-top: 1%;
    display: flex;
    justify-content: center;
    color: rgb(124, 22, 22);
    font-size: 80px;
}

#contentpara{
    font-family: cursive;
    font-weight: 400px;
    font-size: larger;
}

#btn{
    height: 40px;
    background-color: rgb(188, 70, 35);
    color: rgb(255, 255, 255);
}